@import '../../node_modules/bulma/sass/utilities/_all';
@import '../../node_modules/bulma/sass/base/_all';
@import '../../node_modules/bulma/sass/elements/button';
@import '../../node_modules/bulma/sass/elements/form';
@import '../../node_modules/bulma/sass/elements/icon';
@import '../../node_modules/bulma/sass/elements/tag';
@import '../../node_modules/bulma/sass/elements/box';
@import '../../node_modules/bulma/sass/elements/other';
@import '../../node_modules/bulma/sass/components/navbar';
@import '../../node_modules/bulma/sass/components/tabs';
@import '../../node_modules/bulma/sass/components/panel';
@import '../../node_modules/bulma/sass/components/message';

$modal-z: 200;
$modal-background-background-color: rgba($black, 0.1);
@import '../../node_modules/bulma/sass/components/modal';

.tabs {
  a {
    border-bottom-color: $white;
  }
}

nav {
  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    z-index: 100;
  }
}

.navbar-item {
  &.is-start-aligned {
    align-items: flex-start;
  }
}

.panel {
  &.config-search {
    .panel-block {
      background-color: $white;

      &.config-search-input {
        background-color: transparent;
        padding: 0;
        border: 0;

        .field {
          flex-grow: 1;
        }
      }
    }

    .panel-tabs {
      background-color: $white;
      a {
        white-space: nowrap;
      }
    }
  }
}

div.pane {
  height: calc(100vh - #{$navbar-height});
  width: 100vw;
  margin-top: $navbar-height;
  border-top: 1px solid $border;

  &.is-half {
    width: 50vw;

    &:first-of-type {
      border-right: 1px solid $border;
    }
  }

  &.is-scrollable {
    overflow: scroll;
  }
}

.modal {
  align-items: flex-start;

  .modal-content {
    margin-top: $navbar-height;
  }
}
